[Desktop Entry]
Name=Jekyll Helper
Comment=A program that serves as a basic GUI for Jekyll
Categories=GNOME;Utility;
Exec=jekyll-helper
Icon=jekyll-helper
Terminal=false
Type=Application
